.main {
  margin: auto;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  width: 336px;
  height: 100%;
}

.upper-line {
  border-radius: 5px;
  background-color: #ffdc40;
  width: 336px;
  height: 26px;
}

.p {
  font-weight: 900;
  font-size: large;
  text-align: center;
  width: 336px;
  height: 34px;
}

.ox {
  margin: 15px;
}

.oxlar-btn {
  cursor: pointer;
  border: none;
  background-color: white;
  margin: 0 0 0 220px;
}

/* .oxlar-btn:hover {
  transform: rotate(180deg);
} */

.data-input {
  width: 280px;
  margin: auto;
}

.firstinput {
  width: 270px;
  height: 30px;
  border-radius: 10px;
}

.firstinput:focus {
  outline: none;
}

.data-input .delete-btn {
  position: relative;
  height: 25px;
  top: -30px;
  left: 230px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.delete-btn img:hover,
.newdelbtn img:hover {
  background-color: purple;
  border-radius: 50%;
}

.newdelbtn {
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  background-color: white;
  cursor: pointer;
  border: none;
}

.adddiv {
  margin: 0 0 5px 90px;
}

.addbtn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.add-btn-scrls {
  padding: 0 25%;
}

.spanadd {
  color: white;
}
/* new div is appended while 'ul li' is proceed */
.appendeddiv {
  margin: 0 0 10px 30px;
  width: 270px;
  border-radius: 10px;
}

ul {
  line-height: 30px;
}

li {
  display: flex;
  justify-content: space-between;
}
